unless check-stylobate-version is defined
  check-stylobate-version($version)
    error('Used Stylobate version is very outdated, update it to the `' + $version + '`.')

check-stylobate-version('0.13.x')

// Setting variables
$wireframe_xs ?= 0.5*rem
$wireframe_s  ?= 1.0*rem
$wireframe_m  ?= 1.5*rem
$wireframe_l  ?= 2.0*rem
